@import '../../../abstracts/variables';
@import '../../../abstracts/mixins';


.container_statistics{
width:100%;
color:$text-color-white;
font-family: $font;
margin-left: 8%;
height:100vh;
    .title{
        margin:3rem;

      
        h2{
            display: inline;
        
      }
      h3{
        display: inline;
      }
    }
}