.container_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;

    .msg{

        color: #f5f5f5;
        margin: 30px;
    }

    .loading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}