 @import '../abstracts/variables';
 @import '../abstracts/mixins';
 
 .carouselContainer{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 65vh;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 20%;
    color:white;
    width: 100vw;
    
    .overlay{
        position:absolute;
        background-image: linear-gradient(to top,
                        rgba(20, 21, 24, 1),
                        rgba(20, 21, 24, .7),
                        rgba(20, 21, 24, .5),   
                        rgba(20, 21, 24, .4),   
                        rgba(20, 21, 24, .3),   
                        rgba(20, 21, 24, .2),  
                        rgba(20, 21, 24, .1),  
                        rgba(20, 21, 24, .1),  
                        rgba(20, 21, 24, .1),   
                        rgba(20, 21, 24, .1),  
                        rgba(20, 21, 24, .1),
                        rgba(20, 21, 24, .1),
                        rgba(20, 21, 24, 1));
        height: 100%;
        width:100%;
    
    }
    .spanTitle{
        position: absolute;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        left: 7%;
        bottom: 10%;
       
        p{
            font-size: 2.7rem;
            font-weight: 500;
            text-shadow: 0 0 4px rgba(255, 255, 255, 0.726);
            letter-spacing: 0.7px;
            margin-bottom: 1rem;
            
        }

    button{
        @include btn-tertiary;
        min-width:12rem;
        width:12rem;
        margin-left:0;
        margin-top: 0;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: .08em;
        text-transform: uppercase;
    }
 
   
    } 
    .carouselImg{
        width:100vw;
        height: auto;
        min-height: 100%;
    }

    .carouselBtnPrev{
            position:absolute;
            left: 1%;
            font-size: 4em;
            background: none;
            border: none;
            color: rgba(245, 245, 245, .5);
            font-family: $font;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
            cursor: pointer;
            transition: .2s linear;
            &:hover{
                text-shadow: 0 0 20px rgba(0, 0, 0, 1 ),
                             0 0 25px rgba(0, 0, 0, 1 );    
                color: white;
            
            }

    }
    .carouselBtnNext{
        position:absolute;
        right: 1%;
        font-size: 4em;
        background: none;
        border: none;
        color: rgba(245, 245, 245, 0.5);
        font-family: $font;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
        cursor: pointer;
        transition: .2s linear;
        &:hover{
            text-shadow: 0 0 20px rgba(0, 0, 0, 1 ),
                         0 0 25px rgba(0, 0, 0, 1 );    
            color: white;
        }
    }
 }
 
 
