 @import '../abstracts/variables';
 
 .carouselContainer{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 65vh;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 30%;
    width: 100vw;
    
    .overlay{
       
        position:absolute;
        background-image: linear-gradient(to top,#141518,transparent,transparent,transparent,#141518);
        height: 100%;
        width:100%;
    }
    
    .carouselImg{
        width:100vw;
        height: auto;
        min-height: 100%;
    }

    .carouselBtnPrev{
        
            position:absolute;
            left: 1%;
            font-size: 4em;
            background: none;
            border: none;
            color: rgba(245, 245, 245, .5);
            font-family: $font;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
            cursor: pointer;
            transition: .2s linear;
            &:hover{

             
                text-shadow: 0 0 20px rgba(0, 0, 0, 1 ),
                            0 0 25px rgba(0, 0, 0, 1 );    
                color: white;
            
            }
           
            
          
        
      
    }
    .carouselBtnNext{
        position:absolute;
        right: 1%;
        font-size: 4em;
        background: none;
        border: none;
        color: rgba(245, 245, 245, 0.5);
        font-family: $font;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
        cursor: pointer;
        transition: .2s linear;
        &:hover{
            text-shadow: 0 0 20px rgba(0, 0, 0, 1 ),
                        0 0 25px rgba(0, 0, 0, 1 );    
            color: white;
        }
    }
 }
 
 
