@import '../abstracts/variables';

// Container for the two selects here
.container_filters {
    margin: 50px 0 ;
        select{
            cursor: pointer;
            font-family: $font;
            font-weight: 500;
            padding: .5em;
            margin: .5em;
            text-align: center;
            font-size: 14px;
            background-color: #f5f5f5;
            border: 2px #f5f5f5 solid;
            border-radius: 6px;
            transition: .2s linear;

            &:hover, &:focus, &:active{
                background-color: $secondary-color;
                border: 2px $secondary-color solid;
                color: $text-color-white;
                box-shadow: none;
                outline: none;
            }

        }

        @media screen and (max-width: 576px){
            margin:0;
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            width: 90vw;

            select{
                background-color: rgba(58, 58, 58, 0.486);
                color: white;
                border: none;
            }
            
        }
    }


