@import '../abstracts/variables';
@import '../abstracts/mixins';

body{
    width: 100%;
}
.container_movieDetail{

    color: #f5f5f5;
    max-width: 100vw;
    overflow-x: hidden;

    header{
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        overflow: hidden;

        .gradient{
            position: absolute;
            width: 100vw;
            height: 82vh;
            background: radial-gradient(circle at top right, transparent,  $background-color 90vw);
            z-index: -10;
        }

        .gradient_color{
            background: radial-gradient(circle at top right, transparent,  $secondary-color 90vw);
        }

        .image{
            width: 100vw;
            height: 80vh;
            background-size: cover;
            background-position: center;
            z-index: -11;
        }

        .info{
            width: 45vw;
            height: 80vh;
            position: absolute;
            left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            bottom: 18vh;

            h2{
                font-size: 3em;
            }
            
            p{
                font-size: 1.2em;
                text-align: justify;
            }

            .buttons{

                display: flex;
                flex-direction: row;

                button{

                    @include btn-primary
                }

                .secondary_button{

                    @include btn-secondary
                }

            }
        }

 
    }

    .details{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;

        .section{
            width: 80vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(11, 12, 13);
            padding: 40px;
            border-radius: 30px;
            margin-top: 8vh;

            &:last-child{
                margin-bottom: 8vh;
            }

            h3{
                font-size: 1.5em;
            }

            hr{
                background-color: $secondary-color;
                height: 1px;
                border: none;
                width: 90%;
            }
        }

        .trailer{

            width: fit-content;
            user-select: none;

        }

        .review_container{

            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 30px;
            flex-wrap: wrap;
            justify-content: center;

            .no_reviews{

                display: flex;
                flex-direction: column;
                justify-content: center;
                    
                button{

                    @include btn-primary;
                    margin-top: 20px;
                }
            }

            .review{

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 20vw;
                height: 15vw;
                border: 2px solid  $secondary-color;
                border-radius: 10px;
                transition: 0.2s transform linear;
                margin: 30px;

                p{
                    padding: 0 20px;
                }

                &:hover{
                    transform: scale(1.05);
                }
            }

            .stars{
                color: $primary-color;
                font-size: 1.2rem;
                position: relative;
            }



        }

    }

}