@import '../abstracts/variables';
@import '../abstracts/mixins';

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleAndButton{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 8vh 0;

        @media screen and (max-width: 570px){
            width: 90%;
        }

        h2{
            color: $text-color-white;
            align-self: flex-start;
        }
    
        .addPlaylistButton{
            @include btn-secondary;

            @media screen and (max-width: 570px){
                font-size: 10px;
                padding: 0.4rem 0.8rem;
            }
        }
    }


    .playlists{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65vw;
 
        .playlist{
            width: 70vw;
            // @include playlist;
            @include  btn-tertiary;
            display: flex;
            flex-direction: row;
            margin: 20px;
            text-decoration: none;
            text-transform: capitalize;
            
            h4{
                @media screen and (max-width: 570px){
                    margin: 10px;
                }
            }

            @media screen and (max-width: 570px){
                width: 90vw;
                padding: 5px;
            }

            a{
                width: 95%;
                height: 100%;
                color: $text-color-white;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .delete{
                position: relative;
                @include btn-secondary;
                padding: 0.45rem 0.8rem;
                border: none;   
                z-index: 5;          
            }
            
        }
           
    }
}