@import '../abstracts/variables';
@import '../abstracts/mixins';

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleAndButton{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 8vh 0;

        h2{
            color: $text-color-white;
            align-self: flex-start;
        }
    
        .addPlaylistButton{
            @include btn-secondary;
        }
    }


    .playlists{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65vw;
 
        .playlist{
            width: 70vw;
            @include playlist;
            text-decoration: none;
            text-transform: capitalize;

            a{
                width: 80%;
                height: 100%;
                color: $text-color-white;
                display: flex;
                align-items: center;
            }

            div{

                display: flex;
                flex-direction: row;
                align-items: center;
                color: $text-color-white;

                .delete{
                    @include btn-secondary;
                    padding: 0.45rem 0.8rem;
                    border: none;             
                }

            }
            
        }
           
    }
}