@import '../abstracts/variables';
@import '../abstracts/mixins';

.review{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 22vw;
    min-height: 15vw;
    height: fit-content;
    border: 2px solid  $secondary-color;
    border-radius: 10px;
    transition: 0.2s transform linear;
    margin: 30px;

    @media screen and (max-width: 570px){
        width: 75vw;
    }

    p{
        text-align: center;
        color: #f5f5f5;
        span{
            margin-bottom: 50px;
        }

    }

    .stars{
        padding: 20px;
        color: $primary-color;
        font-size: 1.2rem;
        position: relative;
    }

    .username{
        color: #f5f5f57f;
    }
    .text{
        padding: 5px 20px;
        font-style: italic;
        text-align: justify;
    }

    &:hover{
        transform: scale(1.05);
        box-shadow: 0 0.1rem 0.7rem $secondary-color;  
    }
}



        