@import '../abstracts/variables';


.searchContainer{
    display:flex;
    align-items: center;
    form{
        position: relative;
        input {
            text-align: center;
            min-width: 230px;
            border-radius: 26px;
            border: 1px solid #ada9a9;
            padding: .5em;
            outline: 0;
            background-position: 12px;
            background-size: 15px;
            font-size: 0.9em;
        }
    }
}
  