@import '../abstracts/variables';
@import '../abstracts/mixins';

.titleContainer{
    margin-bottom: 70px;
    h3 {
        font-size: 25px;
        margin-left: 50px;
        color: white;
        // text-shadow: 0 0 10px $primary-color;
    }
}

.holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 5px 20px 20px 20px;


    .slideButtons {

        height: 80px;
        background-color: transparent;
        color: #fff;
        border: 0;
        font-size: 50px;
        transition: 2s linear;
        margin-right: 40px;
        transition: .2s linear;
        cursor: pointer;
    
        &:hover {
            text-shadow: 0 0 10px rgba(0, 0, 0, 1 ),
                        0 0 15px rgba(0, 0, 0, 1 );    
            border: 0;
            transform: scale(1.10);

        }
    }
    .container_slider {
        width: 70vw;
        height: 300px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 2%;
        border-radius: 25px;
        margin-right: 3rem;
        justify-content: center;
        transition: .2s ease;
        scroll-behavior: smooth;


            .img_container {
                display: flex;
                .loader{
                    width: 100%;
                    display: flex;        
                    justify-content: center;
                    margin-top: 10vh;
                    margin-left: 2.5vw;
                }
            }
    }

    ::-webkit-scrollbar {
        display: none;
    }

}


@media screen and (max-width: 576px) {
    .titleContainer{
        h3{
            width: 70%;
           
        }
        
    }

    .holder{
        margin:0;
       .container_slider{
        margin:0;
       }
        .slideButtons{
            margin: 0;
            font-size: 3rem;
        }
    }
  }

