@import '../abstracts/variables';
@import '../abstracts/mixins';

.subscriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color:#fff;
    .firstContainer{
        display:flex;
        height: fit-content;
       justify-content: center;
        flex-direction: row;
        width:100vw;
       
        
       .infoDiv{
        
        min-width:40%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        div{
            width:70%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: 1.3rem;
                line-height: 2rem;
            }
            div{
                
                button{
                    @include btn-tertiary;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: .08em;
                    // background: linear-gradient(345deg, rgb(73, 12, 176) 0%, rgb(155, 52, 239) 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%) 99% 50% / 400% 400%;
                
                }
            }
        }
      
     
       }
       @media (max-width: 1000px) {
        .videoDiv{
            display:none !important;
        }

    }
       .videoDiv{
        width:60%;
        height: 500px;
        position: relative;
      
        video{
           height:100%;
           width: 100%;
               position: absolute;
             
               background-size: cover;
               object-fit: cover;
       
        
        }
        // img{
        //     height:100%;
        // }
        .overlay{
            position:absolute;
            background-image:linear-gradient( to right,  rgba(20, 21, 24, 1),  rgba(20, 21, 24, .7), rgba(20, 21, 24, .5),rgba(20, 21, 24, .4),rgba(20, 21, 24, .3),rgba(20, 21, 24, .2),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1), rgba(20, 21, 24, .1),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1),rgba(20, 21, 24, .1));
            top:0;
            bottom:0;
            left:0;
            right: 0;
            .overlay2{
                position:absolute;
                z-index: 4;
                background-image: linear-gradient(to top,
                                rgba(20, 21, 24, 1),
                                rgba(20, 21, 24, .1),
                                rgba(20, 21, 24, .1),   
                                rgba(20, 21, 24, .1),   
                                rgba(20, 21, 24, .1),   
                                rgba(20, 21, 24, .1),  
                                rgba(20, 21, 24, .1),  
                                rgba(20, 21, 24, .1),  
                                rgba(20, 21, 24, .1),   
                                rgba(20, 21, 24, .1),   
                                rgba(20, 21, 24, .1),
                                rgba(20, 21, 24, .1),
                                rgba(20, 21, 24, 1));
                height: 100%;
                width:100%;
            }

        }
        
       }
        
    }
    .secondContainer{
        display:flex;
        flex-direction: column;
        height: fit-content;
        width:100%;
        align-items: center;
        padding-bottom:10%;
        p{
            color:#b6b6b6;
        }
        button{
            @include btn-tertiary;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: .08em;
        }
        span{
            font-size: 1.5rem;
            color:#b6b6b6;
            p{
             
                strong{
                    font-size: 3rem;
                    color: #fff;
                }
            }
           
        }
        .infoDiv{
            width:100%;
            text-align: center;
            margin:10% 2rem 2.2rem 2rem;
            h2{
                margin:0 10% 2.2rem 10%; 
            }
            
        }
     
        
        .planDiv{
            width:100%;
            margin-bottom: 2rem;
            display:flex;
            justify-content: center;
            gap:4rem;
            flex-wrap: wrap;
            @media (max-width: 1000px) {
                .card{
                    min-width:70%;
                    
                }
            }
            .card{
                width:26%;
                max-width: 26%;
                
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                padding: .5em 2em;
                border-radius: 10px;
                border-bottom: 2px solid $primary-color;
                box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
                gap:1rem;
                .titleDiv{
                    width: 100%;
                    margin:1.5rem 0 ;
                    display:flex;
                    justify-content: space-between;
                    span{
                        font-size: 1.7rem;
                        font-weight: 500;
                        color: #fff;
                  
                     }
                    }
                
                
                ul{
                    padding-left: 0;
                    
                    li{
                        list-style: none;
                        margin-bottom: 1.5rem;
                        line-height: 1.5em;
                       
                    }
                }
            }
        }
    }
}