@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.container{

    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   

    hr{
        width: 80%;
        height: 1px;
        border: none;
        background-color: $secondary-color;
    }

    h1{
        color: $primary-color;
        text-shadow: 0 0 10px $primary-color;
        margin: 1rem 1rem;
    }

    .titleAndButton{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button{

            @include btn-primary;
            position: absolute;
            padding: 0.3rem 0.5rem;
            right: 10vw;

            svg{
                fill: #f5f5f5;
            }

        }
    }

    .reviews{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 60vh;
        min-height: fit-content;
        margin-bottom: 15vh;
        

        .noReviews{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                color: #f5f5f5;
            }

            button{
                @include btn-primary;
            }
        }
    }
}