@import '../abstracts/_variables';

body{
    background-color: $background-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: $primary-color;
    color: #fff;
}