@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.container{

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;

    .form_container{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35vw;
        min-height: fit-content;
        height: 80vh;
        border: 2px solid $secondary-color;
        border-radius: 15px;
        color: $text-color-white;
        justify-content: space-around;

        h2{
            margin-top: 5vh;  
        }

        form{

            width: 80%;

            input{

                width: 100%;
                height: 5vh;
                border: none;
                border-radius: 8px;
                margin: 20px 0;

                &::placeholder{
                    position: relative;
                    left: 7px;
                }
            }

            span{

                color: $hprimary-color;
            }

            .showButton{
                position: absolute;
                max-width: fit-content;
                right: 36vw;
                top: 47.5vh;
                scale: 0.9;
                svg{
                    width: auto;
                    height: 25px;
                    fill: $secondary-color;
                }
            }


            .btnContainer{
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top:1em;
                align-items: center;
                justify-content: center;
                gap: 1em;

                .primaryBtn{
                    @include btn-primary;
                    width: 50%;
                    min-width: fit-content;
                }

                span{
                    color: white;
                }

                .googleBtn{
                    display: flex;
                    flex-direction: row;
                    justify-content:space-between;
                    align-items: center;
                    width: 50%;
                    min-width: fit-content;
                    margin: 10px;
                    background-color:rgb(66 133 244);
                    border-radius: 8px;
                    height: 2.65rem;
                    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
                    overflow: hidden;

                    .btnText{
                        display: flex;
                        justify-content: center;     
                        align-items: center;                       
                        width: 100%;
                        height: 100%;

                        a{  
                            padding: 1rem;
                            color: white;
                            font-size: 14px;
                            letter-spacing: 0.2px;
                            font-family: $font;
                        }
                    }

                    .googleIconWrapper{
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: 100%;
                        border-radius: 2px;
                        background-color: white;

                        .googleIcon{
                            width: auto;
                            height: 50%;
                        }     
                    }

                    &:hover{
                        transform: scale(1.05);
                        transition: 0.2s linear;
                        background-color:rgb(46, 110, 214);
                    }

                    &:active{
                        background:rgb(66 133 244);
                    }  
                }

            }
            
        }

        .linkToRegister{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            justify-content: center;
            margin-top: 13vh;
            margin-bottom: 3em;
            color: white;

            span{

                .Link{
                    font-weight: 600;
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
}