@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.registerContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        min-height: 100vh;
        font-family: $font;
        overflow: hidden;

    .imageContainer{
        grid-column:1/3;
        background-image: url(../../../assets/uncharted-poster.jpg);
        background-position: center left;
        background-size: cover;
        position: relative;
        

        .navLogo{
            display: flex;
            margin-left: 3.5em;
            margin-top: 2em;
            cursor: pointer;

            h2{ 
                font-size: 2rem;
                color: $primary-color;
                transition: all 0.2s linear;

                &:hover{
                    font-size: 2.1rem;
                    text-shadow: 5px 5px 10px $secondary-color;
                }
            }
        }

        h3{
            position: absolute;
            bottom: 1em;
            color: white;
            font-size: 1.7rem;
            margin-left: 2em;
            align-self: flex-end;
            text-shadow: 1px 1px 2px black
        }

    }

    .formSideContainer{
        grid-column: 3/6;
        display: flex;
        background-color:$background-color;
        min-width: 100vh;
        box-shadow: 0 0 10px rgba(255, 49, 90, 0.5);

        .formContainer{
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;


            form{
                margin-top: 2em;
                margin-left: 12%;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                
    
                h1{
                    color:white;
                }
    
                .btnContainer{
                    width: 100%;
                    margin-top:1em;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
    
                    .primaryBtn{
                        @include btn-primary;
                        width: fit-content;
                    }
    
                    span{
                        color: white;
                    }
    
                   .secondaryBtn{
                        @include btn-secondary;
                    }

                    .googleBtn{
                        display: flex;
                        flex-direction: row;
                        justify-content:space-between;
                        align-items: center;
                        min-width: fit-content;
                        margin: 10px;
                        background-color:rgb(66 133 244);
                        border-radius: 8px;
                        height: 2.65rem;
                        box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
                        overflow: hidden;

                        .btnText{
                            display: flex;
                            justify-content: center;     
                            align-items: center;                       
                            width: 100%;
                            height: 100%;

                            a{  
                                padding: 1rem;
                                color: white;
                                font-size: 14px;
                                letter-spacing: 0.2px;
                                font-family: $font;
                            }
                        }

                        .googleIconWrapper{
                            padding: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: auto;
                            height: 100%;
                            border-radius: 2px;
                            background-color: white;

                            .googleIcon{
                                width: auto;
                                height: 50%;
                            }     
                        }

                        &:hover{
                            transform: scale(1.05);
                            transition: 0.2s linear;
                            background-color:rgb(46, 110, 214);
                        }

                        &:active{
                            background:rgb(66 133 244);
                        }  
                    }

                }

                .linkToRegister{
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    justify-content: center;
                    margin-top: 2em;
                    margin-bottom: 3em;
                    color: white;

                    span{

                        .Link{
                            font-weight: 600;
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }
    
    
                .inputContainer{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    width: 100%;
                        
                    input[type=password]::-ms-reveal {
                        display: none;
                    }

                    .passContainer{
                        position: relative;
                        flex-direction: row;
                        width: 100%;
    
                        .showButton{
                            position: absolute;
                            right: 2em;
                            top: 0.75em;
                            scale: 0.9;
                            svg{
                                width: auto;
                                height: 25px;
                                fill: $secondary-color;
                            }
                        }
                    }
    
                    label {
                        display: block;
                        color: white;
                        text-align: left;
                        font-size: 1rem;
                        margin-top: 0.65rem;
                        margin-bottom: 0.5rem;
                        width: 100%

                    }
    
                    input{
                        @include select;
                        text-align: left;
                        padding-left: 1rem;
                        color: $background-color;
                        width: 90%;
    
                        &:hover, &:focus, &:active{
                            background-color: white;
                            color: $background-color;
                        }
        
                    }
        
                    .errorMessage{
                        display: block;
                        color: #ff3860;
                        height: 13px;
                        margin-top:5px;
                        margin-left: 8px;
                        animation: wiggle 1s linear;
                        animation-duration: 0;
                        display: inline-block;
                        font-size: 0.8rem;
                    }
                }
            
            }
        }

    }

}
    
