@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 8%;

    @media screen and (max-width: 570px) {

        flex-direction: column-reverse;
        max-width: 100vw;
        justify-content: center;
        margin: 0;
    
    } 

    .functions_container{
        color: $text-color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 2rem;

        @media screen and (max-width: 570px) {

            width: 100vw;
        } 

        h2{
            text-align: center;
            color: $text-color-white;
        }

        div{

            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            width: 80%;
            height: 100%;
            
            
            .functions{

                display: flex;

                width: 80%;
                flex-direction: column-reverse;
                justify-items: center;
                align-items: center;
                margin: 3vh;
                padding: 40px;
                height: 450px;
                border-radius: 10px;
                background-color: rgb(10, 10, 12);
                overflow-y: scroll;

                @media screen and (max-width: 570px) {
                    margin: 0;
                    overflow-x: hidden;
                    margin-bottom: 100px;
                } 


                .notFound{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    svg{
                        margin-bottom: 2rem;
                        width:130px;
                        height: 130px;
                        path{
                            fill: rgba(236, 233, 233, 0.589);
                            transition: 0.2s linear;
                        }
                    }
                }
                
                .function{
                    position: relative;
                    width: 80%;
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: #f5f5f5;
                    margin-top: 40px;
                    border: 2px solid $secondary-color;
                    border-radius: 10px;
                    transition: 0.3s;

                    animation-name: rotates;
                    animation-duration: 0.8s;

                    @media screen and (max-width: 570px) {

                        flex-direction: column;
                        width: 95%;
                    
                    } 

                    
                    .closeBtn{
                        position: absolute;
                        top: .3em;
                        right: .5em;
                        color: $primary-color;
                        transition: all 0.2s linear;
                        padding: 0.2em 0.35em;
                        border-radius: 100%;
                        background-color: rgba(255, 255, 255, 0);
                        font-weight: 600;
                        font-size: 0.95rem;

                        cursor: pointer;

                        &:hover{
                            text-shadow: 0 0 10px $primary-color;
                            transform: scale(1.1);
                            background-color: $primary-color;
                            color:white;
                            font-weight: 400;
                        }
                    }

                    div{

                        width: 100%;
                        display: flex;
                        justify-content: center;

                        h3{
                            font-weight: 700;
                            text-shadow: 0 0 10px $text-color-white;
                            text-align: center;

                            @media screen and (max-width: 570px) {

                                font-size: 1rem;
                            
                            } 
                        }
                        img{
                            width: 150px;
                                        
                            @media screen and (max-width: 570px) {

                                width: 80px;
                            
                            } 
                        }

                        p{
                            text-align: center;
                            margin: 0.5rem;

                            @media screen and (max-width: 570px) {

                                font-size: 13px;
                            
                            } 
                        }

                        span{
                            font-weight: 600;
                            padding-bottom: 0.5rem;
                        }

                    }


                    &:hover{
                        transform: scale(1.03);
                        box-shadow: 0 0.1rem 0.7rem $secondary-color;  

                    }
                }

            }

        }

    }

    .formFunction{
        height: 67vh;
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        // margin-top: 2em;

        @media screen and (max-width: 570px) {

            width: 100vw;
            margin-top: 800px;
            margin-bottom: 100px;
        } 

        h2{
            color: #f5f5f5;
            margin-bottom: 3rem;
        }
        
        form{
            width: 65%;
            max-height: 70vh;

            @media screen and (max-width: 570px) {

                width: 80%;
            } 

            .mainDivDate{
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
               
                label{
                    color: #f5f5f5;
                    font-size: 1rem;

                    span{
                        color: #ff3860;
                        height: 13px;
                        margin-left: 8px;
                        animation: wiggle 1s linear;
                        animation-duration: 0;
                        display: inline-block
    
                    }
                }
                .Date{
                    margin-top:1em;
                    display: flex;
                    flex-direction:row;
                    justify-content: space-around;
                    width: 100%;  
                    
                    .minDivDate{
                    
                        border-radius: 10px;
                        border-bottom: 2px solid $primary-color;
                        padding:1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        
                        label{
                            color: #f5f5f5;
                            font-size: 1rem;
                            margin-right: 10px;
                        }
                        
                        input{
                            cursor: pointer;
                        }
                    }

                    .minDivTime{
                        
                        border-radius: 10px;
                        border-bottom: 2px solid $primary-color;
                        padding:1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        margin-left:2rem; 
                        
                        label{
                            color: #f5f5f5;
                            font-size: 1rem;
                            margin-right: 10px;
                            margin-bottom: 1rem;
                        }

                        input{
                            cursor: pointer;
                        }


                    }

                }    

            }
            
            .Select {
          
                margin-bottom: 1rem;

                select{
                    @include select;
                    width: 100%;
                    
                    @media screen and (max-width: 570px) {

                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            
                                    
                label{
                    color: #f5f5f5;
                    font-size: 1rem;

                    span{
                        color: #ff3860;
                        height: 13px;
                        margin-left: 8px;
                        animation: wiggle 1s linear;
                        animation-duration: 0;
                        display: inline-block
    
                    }
                }
                
            }

            .inputNumber{
                input {
                    @include select;
                    width: 99.5%;
                    padding: 0;
                    height: 2.5em;
                    background-color: white;
                    margin-bottom: 2em;

                    &:focus{
                        background-color: white;
                        color: $background-color;
                    }

                    &:hover{
                        background-color: white;
                        color: $background-color;
                    }

                        
                    @media screen and (max-width: 570px) {

                        margin-left: 0;
                        margin-right: 0;
                    }
    
                }

                label  {
                    color: white;
                }
            }
        
            button{
            
                @include btn-primary;
                width: 100%;

                &:disabled{
                    background-color: $background-color;
                    cursor: not-allowed;
                }

                @media screen and (max-width: 570px) {

                    margin: 0;
                } 
        
            }
        }

    }

    
}

@keyframes wiggle {

    0% { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    55% { transform: rotate(2deg); }
    65% { transform: rotate(-2deg); }
   80% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }

    
}

@keyframes rotates {
    0%   {transform: rotate(0deg)}
    25%  {
        transform: rotate(1deg);
        border: 2px solid $primary-color;
        box-shadow: 0 0.1rem 0.7rem $primary-color;  
    }
    50%  {transform: rotate(-1deg)}
    75%  {transform: rotate(1deg)}
    100% {
        transform: rotate(0deg);
        border: 2px solid $secondary-color;
        box-shadow: 0 0.1rem 0.7rem $secondary-color;  

    }
}