@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.form_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

    h2{
        span{
            color: $primary-color;
            text-shadow: 0 0 10px $primary-color;
            margin: 0 1rem;
        }
    }

    hr{
        width: 80%;
        height: 1px;
        border: none;
        background-color: $secondary-color;
    }

    .stars{
        color: $primary-color;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        label{

            margin-bottom: 1rem;
            span{
                color: $primary-color;
                animation: wiggle 1s linear;
            }
        }

        input[type=range]{

            -webkit-appearance: none;
            appearance: none;
            outline: none;
            background-color: #f5f5f526;
            height: fit-content;
            overflow: hidden;
            padding: 0;
            border-radius: 50px;
            border: none;
            width: 20vw;

            &::-webkit-slider-thumb{

                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                background-image: linear-gradient($primary-color, $hprimary-color);
                border-radius: 50px;
                box-shadow: -410px 0 0 400px $secondary-color;
                
            }
        }

        textarea{

            width: 35vw;
            height: 20vh;
            padding: 20px;
            background-color: #f5f5f526;
            color: #f5f5f5;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 500;
            font-family: $font;
            border: none;
            overflow-y: scroll;

            ::-webkit-resizer{
                resize: none;
                background-color: transparent;
            }

            &:focus{
                border: none;
                outline: none;
            }
        }
    }

    button{

        @include btn-primary;

        &:disabled{

            cursor: not-allowed;
            background-color: $background-color;
        }
    }
}


@keyframes wiggle {

    0% { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    55% { transform: rotate(2deg); }
    65% { transform: rotate(-2deg); }
   80% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
    
}