@import '../../abstracts/variables';
@import '../../abstracts/mixins';


.card{
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left:  4em;
    padding-right:  4em;
    align-items: center;
    background-color: white;
    margin: 1em 0;
    border-radius: 10px;
    font-family: $font;
    height: 4rem;
    overflow: hidden;

    
    
    .type{
        width: 10%;
        text-align: left;
        text-transform: capitalize;
        span{
            font-weight: 600;
            font-size: 1.1rem;
            color:rgb(0, 88, 0);
        }
        
    }
    
    span{
        width: 30%;
        text-align: center;
        color:$background-color;
        font-weight: 500;
        font-size: 1rem;
    }
    @media screen and (max-width: 570px) {
        width: 95%;
        padding: 0;
        margin: 0;

        margin: .4em;
        .type{
            width: 20%;
            text-align: left;
            text-transform: capitalize;
            span{

                margin-left: 30px;
                font-weight: 600;
                font-size: 1.3rem;
                color:rgb(0, 88, 0);
            }
    
        }
    }

}