@import '../../abstracts/variables';
@import '../../abstracts/mixins';


.mainNav{
    $parent:&;
    width: 5rem;
    height:100vh;
    background-color:RGB(4, 4, 5) ;
    position:fixed; 
    transition: width 200ms ease;
    box-shadow: 0 0 10px rgba(255, 49, 90, 0.5);
    z-index: 3;
    
    
    @media screen and (min-width: 768px) {

        &:hover {
        width:16rem;
        box-shadow: 0 0 10px rgba(255, 49, 90, 0.5);}
        &:hover ul li .link span{
        display: block;

        } 
        &:hover ul li .user span{
            display: block;
        text-align:center;
        margin:1.5rem 1.5rem 1.5rem 0;
        }
        &:hover ul li .link .divIcon .dropDownIcon{
            display: block;
        }
    }

    ul{
        list-style:none;
        padding: 0;
        margin: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        .statistics{
            position: relative;
            .dropDownMenu{
                
                position:absolute;
                background-color:RGB(4, 4, 5) ;
                top:5rem;
                height:fit-content;
                width: 100%;
                z-index: 3;
            
                

                ul{
                    list-style:none;
                    padding: 0;
                    margin: 0;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        width: 100%;
                        text-align: center;
                    
                    
                        .linkDropDown{
                        display: flex;
                        align-items: center;
                        height: 5rem;
                        color:#b6b6b6;
                        text-decoration: none;
                        filter:grayscale(100%) opacity(0.7);
                        transition:0.3s;
                        &:hover {
                            filter: grayscale(0%) opacity(1);
                            // background-color:#141418;
                            // color:#ececec;
                            background: linear-gradient(70deg,
                            $primary-color,
                            $secondary-color  75%);
                            
                            }
                            
                        .spanDropDown{
                            
                            
                            color:white;
                            font-size: 1rem;
                            width: 100%;
                        }
                        }
                    }
                }
            
            
            }
        }
        
    
        li{
            width: 100%;
    

        .user{
            display: flex;
            align-items: center;
            height: 5rem;
            margin-bottom: 4rem;
            margin-top: 1rem;
        
            img{
                min-width:3rem;
                margin:0 1rem;
                width:3rem;
                height:3rem;
                border-radius: 50%;
                background-image: cover;
            
            
            }
            span{
                display:none;
                margin-left: 1rem;
                color: $primary-color;
                font-size: 20px;
                width: 100%;
                font-weight: 500;
                text-shadow:0 0 8px $primary-color ;
            
            }
        }
            
        
            .link{
                display: flex;
                align-items: center;
                height: 5rem;
                color:#b6b6b6;
                text-decoration: none;
                filter:grayscale(100%) opacity(0.7);
                transition:0.3s;
            
                    
                .divIcon{
                    display: none;
                    transition:0.2s linear;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                    
                        transform: rotate(0deg);
                        
                    }
                    .dropFaceDown{
                        transform: rotate(90deg);
                        transition:0.2s linear;
                        z-index: 4;
                        height: 15px;
                        width:25px;
                        
                    }
        
                    .dropDownIcon{
                        display: none;
                        transition:0.2s linear;
                        z-index: 4;
                        height: 15px;
                        width:25px;
                        transform: rotate(0deg);
                        
                    
                }
            
                    
                }
                    &:hover {
                        filter: grayscale(0%) opacity(1);
                        // background-color:#141418;
                        // color:#ececec;
                        background: linear-gradient(70deg,
                        $primary-color,
                        $secondary-color  75%);
                        
                        }
                        svg{
                            min-width:2rem;
                            margin:0 1.5rem;
                            width:30px;
                            height:30px;
                            path{
                                //  fill: rgba(236, 233, 233, 0.589);
                                fill:#FFF;
                                transition: 0.2s linear;}
                                        
                        }
                        span{
                            display:none;
                        margin-left: 1.5rem;
                            color:white;
                            font-size: 1rem;
                        
                            width: 100%;
                            
                        
                        
                        }
                        // span + .mainNav:hover{
                        //     display:block;
                        // }

                        
            }
            
    }
    }

    
    @media screen and (max-width: 570px) {
        width: 100vh;
        height: 5rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 100vw;
            align-items: center;
        li {


            width: 12vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .user {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                
                img{
                    min-width: 0rem;
                    width: 40px;
                    height: 40px;
                    min-height: 0rem;
                }
            }

            .link{  
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{

                    min-width: 0.8rem;
                    margin: 0 0.2rem;
                    width: 20px;
                    height: 20px;
                    
                    
                }
            }
            
        }
    }
}
   
   
  

}