@import '../../abstracts/variables';
@import '../../abstracts/mixins';


.mainContainer{
    margin-top:8%;
    margin-left: 15%;
    width:80vw;
    color:$text-color-white;
    font-family: $font;
    height: auto;

        .titleContainer{
            margin-bottom:3em;

            h2{
                font-size: 2rem;
                text-shadow: none;
            }
            
        }

        .infoContainer{
            .subInfoContainer{
                margin-bottom: 4em;
                h3{
                    font-size: 1.5rem;
                    margin-bottom: 1.5em;
                    text-shadow: none;
                }
                .subtitlesContainer{
                    background-color: rgba(255, 255, 255, 0.1);
                    display: flex;                    
                    flex-direction: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 1em 0em;
                    border-radius: 25px;
                    font-family: $font;
                    //gap: 1em;
                    width: 69.5%;
                    margin: 0;

                    div{
                        width: 20%;
                        text-align: center;

                        button{
                            background-color: rgba(255, 255, 255, 0);
                            color: $primary-color;
                            font-size: 1.2rem;
                            font-weight: 600;
                        }

    
                        &:first-child{
                            margin-left: 2em;
                            width: 10%;
                        }

                        &:nth-child(2){
                            width: 30%;
                        }
                        &:nth-child(3){
                            width: 30%;
                        }
                        &:nth-child(4){
                            width: 35%;
                        }
                    }

                }
                .cardsContainer{
                    overflow-y: scroll;
                    overflow-x: visible;
                    height: 50vh;
                    width: 70%;
                    //margin: 1em;
                    border-radius: 25px;
                    position: relative;
    
                }

            }
        }


    }