@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.container_users{
    width:100%;
    color:$text-color-white;
    font-family: $font;
    margin-left: 15%;
    height:100vh;
    div{
        margin:3rem;
    }
    }