@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


/*----------FONTS----------*/
$font:'Montserrat', sans-serif;

/*----------COLORS----------*/
$background-color: rgb(20, 21, 24);
$primary-color: rgb(255, 49, 90);
$hprimary-color: rgb(255, 20, 67);
$secondary-color: rgb(73, 122, 166);
$hsecondary-color:rgb(52, 121, 182);

/*----------TEXT COLORS----------*/
$text-color-white: #f5f5f5;
