@import '../../../abstracts/variables';
@import '../../../abstracts/mixins';


.card{
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    padding: 1em;
    padding-left:  4em;
    padding-right:  4em;
    align-items: center;
    background-color: white;
    margin: 1em 0;
    border-radius: 25px;
    font-family: $font;

    .type{
        width: 15%;
        text-align: left;
        span{
            font-weight: 600;
            font-size: 1.1rem;
            color:rgb(0, 88, 0);
        }

    }

    span{
        width: 20%;
        text-align: left;
        color:$background-color;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .deleteBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20%;
        span{
            @include btn-primary;
            background-color: $background-color;
            border-color: $background-color;
            color: $text-color-white;
            padding: 0.3rem 1rem;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            width: auto;
        }

    }
}