@import "../../../abstracts/variables";
@import "../../../abstracts/mixins";

.mainNav {
  $parent: &;
  width: 5rem;
  height: 100vh;
  background-color: RGB(4, 4, 5);
  position: fixed;
  transition: width 200ms ease;
  box-shadow: 0 0 10px rgba(255, 49, 90, 0.5);
  z-index: 3;
  top: 0;

  @media screen and (min-width: 768px) {
    &:hover {
      width: 16rem;
      box-shadow: 0 0 10px rgba(255, 49, 90, 0.5);
    }
    &:hover ul li .link span {
      display: block;
    }
    &:hover ul li .user span {
      display: block;
      text-align: center;
      margin: 1.5rem 1.5rem 1.5rem 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      width: 100%;

      .user {
        display: flex;
        align-items: center;
        height: 5rem;
        margin-bottom: 4rem;
        margin-top: 1rem;

        img {
          min-width: 3rem;
          margin: 0 1rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
        span {
          display: none;
          margin-left: 1rem;
          color: $primary-color;
          font-size: 20px;
          width: 100%;
          font-weight: 500;
          text-shadow: 0 0 8px $primary-color;
        }
      }

      .link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: #b6b6b6;
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 0.3s;
        &:hover {
          filter: grayscale(0%) opacity(1);
          background: linear-gradient(
            70deg,
            $primary-color,
            $secondary-color 75%
          );
        }
        svg {
          min-width: 2rem;
          margin: 0 1.5rem;
          width: 30px;
          height: 30px;
          path {
            fill: #fff;
            transition: 0.2s linear;
          }
        }
        span {
          display: none;
          margin-left: 1.5rem;
          color: white;
          font-size: 1rem;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 570px) {
    width: 100vh;
    height: 5rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        width: 8%;
        .user {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
