@import '../../abstracts/variables';
@import '../../abstracts/mixins';


.container_cart{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin: 2vh 0;
        color: $text-color-white;

        h2{
            text-transform: capitalize;
            font-size: 2rem;
        }

        button{
            position: absolute;
            right: 10%;
            font-size: 1em;
            margin-top: 7rem;
            font-family: $font;
            font-weight: 500;
            display: inline;
            border-radius: 8px;
            border: 1px solid $background-color;
            background-color: $background-color;
            color: $text-color-white;
            transition: 0.2s linear;
            cursor: pointer;
    
            &:hover{
                transform: scale(1.05);
                text-shadow: 0 0 10px $hprimary-color,
                             0 0 12px $hprimary-color;
            }
        }
    
    }


    .cart{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
 
        .movies{
            width: 70vw;
            @include playlist;
            height: fit-content;
            padding: 5px;
            text-decoration: none;
            
            img{
                width: 70px;
                border-radius: 10px;
                margin-left: 5px;
            }
            h3,p{
                margin-left: 20px;
                width: 80%;
                height: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                display: flex;
                color: $text-color-white;

            }
            
        }
        
    }


    button.delete{
        @include btn-secondary;
        padding: 0.4rem 0.6rem;
        border: none;
    }

    .footerBtn{
        padding: 0;
        margin: 0;
        box-sizing: border-box;


        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        
        .paymentGateway{
            form{

                padding: 0;
                margin: 0;
                box-sizing: border-box;
                
                button{
                    @include btn-primary;
                    width: 15vw;
                    margin-left: 43.5vw;
                }
            }
        }
    }
}