@import './scss/base/base';
@import './scss/abstracts/variables';
@import './scss/base/reset';


html{
    scroll-behavior: smooth;
}

body{
    font-family: $font;
    overflow-x: hidden;

}
.AppAdmin{
    display:flex;
    width:100%;
    height:100vh;
}